



.TimerContainerSpecial{
    min-width:7rem;
}

.pausedMessage{
    color: whitesmoke;
    position: absolute;
    /* min-width: 80vw; */
    width: 60vw;
    height: 60vw;
    text-align: center;
    z-index: 12;
    padding: 1.5rem;
    border: 2px solid gold;
    box-shadow: 1px 1px gold;
    align-self: center;
    top: 300px;
    left: 20vw;
    background-color: rgb(66, 60, 60);
}

.Navbar .GroupConnectTimer{
    margin-left: 15%;
    flex-grow: 1;
    z-index: 12;
    
}

@media screen and (max-width: 750px){
    .DogeLogo{
        display: none;
    }
    .NavbarIndex{
        justify-content: space-between;
    }
    .logoindex{
        display: block;
        min-width: 35vw;
        height: auto;
    }
    .indexOwn{
        display: none;
    }
}