<!DOCTYPE html>
<!-- saved from url=(0038)https://dogebets.gg/prediction/bsc/btc -->
<html lang="en" style="--vh-true:6.09px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">:root, :host {
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Solid";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Regular";
  --fa-font-light: normal 300 1em/1 "Font Awesome 6 Light";
  --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Thin";
  --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-2xs {
  vertical-align: 0.1em;
}
.svg-inline--fa.fa-xs {
  vertical-align: 0em;
}
.svg-inline--fa.fa-sm {
  vertical-align: -0.0714285705em;
}
.svg-inline--fa.fa-lg {
  vertical-align: -0.2em;
}
.svg-inline--fa.fa-xl {
  vertical-align: -0.25em;
}
.svg-inline--fa.fa-2xl {
  vertical-align: -0.3125em;
}
.svg-inline--fa.fa-pull-left {
  margin-right: var(--fa-pull-margin, 0.3em);
  width: auto;
}
.svg-inline--fa.fa-pull-right {
  margin-left: var(--fa-pull-margin, 0.3em);
  width: auto;
}
.svg-inline--fa.fa-li {
  width: var(--fa-li-width, 2em);
  top: 0.25em;
}
.svg-inline--fa.fa-fw {
  width: var(--fa-fw-width, 1.25em);
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-layers-counter, .fa-layers-text {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -0.125em;
  width: 1em;
}
.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-counter {
  background-color: var(--fa-counter-background-color, #ff253a);
  border-radius: var(--fa-counter-border-radius, 1em);
  box-sizing: border-box;
  color: var(--fa-inverse, #fff);
  line-height: var(--fa-counter-line-height, 1);
  max-width: var(--fa-counter-max-width, 5em);
  min-width: var(--fa-counter-min-width, 1.5em);
  overflow: hidden;
  padding: var(--fa-counter-padding, 0.25em 0.5em);
  right: var(--fa-right, 0);
  text-overflow: ellipsis;
  top: var(--fa-top, 0);
  -webkit-transform: scale(var(--fa-counter-scale, 0.25));
          transform: scale(var(--fa-counter-scale, 0.25));
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-bottom-right {
  bottom: var(--fa-bottom, 0);
  right: var(--fa-right, 0);
  top: auto;
  -webkit-transform: scale(var(--fa-layers-scale, 0.25));
          transform: scale(var(--fa-layers-scale, 0.25));
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.fa-layers-bottom-left {
  bottom: var(--fa-bottom, 0);
  left: var(--fa-left, 0);
  right: auto;
  top: auto;
  -webkit-transform: scale(var(--fa-layers-scale, 0.25));
          transform: scale(var(--fa-layers-scale, 0.25));
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.fa-layers-top-right {
  top: var(--fa-top, 0);
  right: var(--fa-right, 0);
  -webkit-transform: scale(var(--fa-layers-scale, 0.25));
          transform: scale(var(--fa-layers-scale, 0.25));
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-top-left {
  left: var(--fa-left, 0);
  right: auto;
  top: var(--fa-top, 0);
  -webkit-transform: scale(var(--fa-layers-scale, 0.25));
          transform: scale(var(--fa-layers-scale, 0.25));
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-2xs {
  font-size: 0.625em;
  line-height: 0.1em;
  vertical-align: 0.225em;
}

.fa-xs {
  font-size: 0.75em;
  line-height: 0.0833333337em;
  vertical-align: 0.125em;
}

.fa-sm {
  font-size: 0.875em;
  line-height: 0.0714285718em;
  vertical-align: 0.0535714295em;
}

.fa-lg {
  font-size: 1.25em;
  line-height: 0.05em;
  vertical-align: -0.075em;
}

.fa-xl {
  font-size: 1.5em;
  line-height: 0.0416666682em;
  vertical-align: -0.125em;
}

.fa-2xl {
  font-size: 2em;
  line-height: 0.03125em;
  vertical-align: -0.1875em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: var(--fa-li-margin, 2.5em);
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  left: calc(var(--fa-li-width, 2em) * -1);
  position: absolute;
  text-align: center;
  width: var(--fa-li-width, 2em);
  line-height: inherit;
}

.fa-border {
  border-color: var(--fa-border-color, #eee);
  border-radius: var(--fa-border-radius, 0.1em);
  border-style: var(--fa-border-style, solid);
  border-width: var(--fa-border-width, 0.08em);
  padding: var(--fa-border-padding, 0.2em 0.25em 0.15em);
}

.fa-pull-left {
  float: left;
  margin-right: var(--fa-pull-margin, 0.3em);
}

.fa-pull-right {
  float: right;
  margin-left: var(--fa-pull-margin, 0.3em);
}

.fa-beat {
  -webkit-animation-name: fa-beat;
          animation-name: fa-beat;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
          animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
          animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
          animation-timing-function: var(--fa-animation-timing, ease-in-out);
}

.fa-bounce {
  -webkit-animation-name: fa-bounce;
          animation-name: fa-bounce;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
          animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
          animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
}

.fa-fade {
  -webkit-animation-name: fa-fade;
          animation-name: fa-fade;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
          animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
          animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
}

.fa-beat-fade {
  -webkit-animation-name: fa-beat-fade;
          animation-name: fa-beat-fade;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
          animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
          animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
          animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.4, 0, 0.6, 1));
}

.fa-flip {
  -webkit-animation-name: fa-flip;
          animation-name: fa-flip;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
          animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
          animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
          animation-timing-function: var(--fa-animation-timing, ease-in-out);
}

.fa-shake {
  -webkit-animation-name: fa-shake;
          animation-name: fa-shake;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
          animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
          animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, linear);
          animation-timing-function: var(--fa-animation-timing, linear);
}

.fa-spin {
  -webkit-animation-name: fa-spin;
          animation-name: fa-spin;
  -webkit-animation-delay: var(--fa-animation-delay, 0);
          animation-delay: var(--fa-animation-delay, 0);
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 2s);
          animation-duration: var(--fa-animation-duration, 2s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, linear);
          animation-timing-function: var(--fa-animation-timing, linear);
}

.fa-spin-reverse {
  --fa-animation-direction: reverse;
}

.fa-pulse,
.fa-spin-pulse {
  -webkit-animation-name: fa-spin;
          animation-name: fa-spin;
  -webkit-animation-direction: var(--fa-animation-direction, normal);
          animation-direction: var(--fa-animation-direction, normal);
  -webkit-animation-duration: var(--fa-animation-duration, 1s);
          animation-duration: var(--fa-animation-duration, 1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
          animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing, steps(8));
          animation-timing-function: var(--fa-animation-timing, steps(8));
}

@media (prefers-reduced-motion: reduce) {
  .fa-beat,
.fa-bounce,
.fa-fade,
.fa-beat-fade,
.fa-flip,
.fa-pulse,
.fa-shake,
.fa-spin,
.fa-spin-pulse {
    -webkit-animation-delay: -1ms;
            animation-delay: -1ms;
    -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    transition-delay: 0s;
    transition-duration: 0s;
  }
}
@-webkit-keyframes fa-beat {
  0%, 90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(var(--fa-beat-scale, 1.25));
            transform: scale(var(--fa-beat-scale, 1.25));
  }
}
@keyframes fa-beat {
  0%, 90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  45% {
    -webkit-transform: scale(var(--fa-beat-scale, 1.25));
            transform: scale(var(--fa-beat-scale, 1.25));
  }
}
@-webkit-keyframes fa-bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
            transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
  }
  30% {
    -webkit-transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
            transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
  }
  50% {
    -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
            transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
            transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}
@keyframes fa-bounce {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
            transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
  }
  30% {
    -webkit-transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
            transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
  }
  50% {
    -webkit-transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
            transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
            transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}
@-webkit-keyframes fa-fade {
  50% {
    opacity: var(--fa-fade-opacity, 0.4);
  }
}
@keyframes fa-fade {
  50% {
    opacity: var(--fa-fade-opacity, 0.4);
  }
}
@-webkit-keyframes fa-beat-fade {
  0%, 100% {
    opacity: var(--fa-beat-fade-opacity, 0.4);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
            transform: scale(var(--fa-beat-fade-scale, 1.125));
  }
}
@keyframes fa-beat-fade {
  0%, 100% {
    opacity: var(--fa-beat-fade-opacity, 0.4);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(var(--fa-beat-fade-scale, 1.125));
            transform: scale(var(--fa-beat-fade-scale, 1.125));
  }
}
@-webkit-keyframes fa-flip {
  50% {
    -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
            transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
  }
}
@keyframes fa-flip {
  50% {
    -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
            transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
  }
}
@-webkit-keyframes fa-shake {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  4% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  8%, 24% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  12%, 28% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  20% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  32% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  36% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  40%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes fa-shake {
  0% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  4% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  8%, 24% {
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
  }
  12%, 28% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  16% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  20% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  32% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  36% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  40%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.fa-rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-rotate-270 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fa-flip-horizontal {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.fa-flip-vertical {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

.fa-rotate-by {
  -webkit-transform: rotate(var(--fa-rotate-angle, none));
          transform: rotate(var(--fa-rotate-angle, none));
}

.fa-stack {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  position: relative;
  width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--fa-stack-z-index, auto);
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}
.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em;
}

.fa-inverse {
  color: var(--fa-inverse, #fff);
}

.sr-only,
.fa-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only-focusable:not(:focus),
.fa-sr-only-focusable:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.svg-inline--fa .fa-primary {
  fill: var(--fa-primary-color, currentColor);
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa .fa-secondary {
  fill: var(--fa-secondary-color, currentColor);
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
  fill: black;
}

.fad.fa-inverse,
.fa-duotone.fa-inverse {
  color: var(--fa-inverse, #fff);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1s infinite;
}

</style>

<link rel="icon" href="/Home/bulleyesicon.png">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#000000">
<meta name="description" content="Pancakeswap predictions alternative. A peer-to-peer wagering dApp on BSC and DogeChain. Fair, accurate prediction gaming. Simple rules to play, too! Bet up or down and win if you guessed correctly">
<meta name="keywords" content="prediction gaming, predictions gaming, bnb predictions, wagers, bsc, binance smart chain, dogechain, doge chain, pcs alternative, pancakeswap alternative, doge">
<link rel="apple-touch-icon" href="/Home/bulleyesicon.png">
<title>BTC Prediction | BitForecast</title>
<!-- <link href="/BTC Prediction _ DogeBets_files/2.6184cd23.chunk.css" rel="stylesheet"> -->
<!-- <link href="/BTC Prediction _ DogeBets_files/main.6ae9ec4f.chunk.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://dogebets.gg/static/css/main.6ae9ec4f.chunk.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://dogebets.gg/static/css/2.6184cd23.chunk.css" rel="stylesheet"> -->

<link href="/Home/2.6184cd23.chunk.css" rel="stylesheet">
<link href="/Home/main.6ae9ec4f.chunk.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<style data-styled="active" data-styled-version="5.3.3"></style>
<script id="tradingview-widget-script" type="text/javascript" async="" src="/BTC Prediction _ DogeBets_files/tv.js.download"></script>
<link rel="canonical" href="http://dogebets.gg/prediction" data-react-helmet="true">
<meta name="description" content="Make great profits with betting BNB, BTC and DOGE on BSC or DogeChain. Predictions Play it Now !" data-react-helmet="true">
<meta property="og:title" content="BTC Prediction | BitForecast" data-rh="true" data-react-helmet="true">
<meta property="og:description" content="Make great profits with betting BNB, BTC and DOGE on BSC or DogeChain. Predictions Play it Now !" data-rh="true" data-react-helmet="true">
</head>
<body>

  <!-- <noscript>You need to enable JavaScript to run this app.</noscript> -->
  <div id="root">
    <div id="Navbar" class="Navbar Mobile">
      <div class="LeftSide ">
        <div id="menu_button" onclick="document.getElementById('menu_dropdown').style.display='block';" class="MenuButton">
          <span>
            <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="align-left" class="svg-inline--fa fa-align-left text-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M256 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H256C273.7 32 288 46.33 288 64C288 81.67 273.7 96 256 96zM256 352H32C14.33 352 0 337.7 0 320C0 302.3 14.33 288 32 288H256C273.7 288 288 302.3 288 320C288 337.7 273.7 352 256 352zM0 192C0 174.3 14.33 160 32 160H416C433.7 160 448 174.3 448 192C448 209.7 433.7 224 416 224H32C14.33 224 0 209.7 0 192zM416 480H32C14.33 480 0 465.7 0 448C0 430.3 14.33 416 32 416H416C433.7 416 448 430.3 448 448C448 465.7 433.7 480 416 480z"></path>
            </svg>
          </span>
        </div>
        <div class="GroupLogoTimer">
          <div class="DogeLogoContainer">
            <a aria-current="page" class="active" href="/">
              <img class="DogeLogo" src="/Home/bitforecast.png" alt="khal doggo">
            </a>
          </div>
        </div>
      </div>
      <div class="GroupConnectTimer">
        <div  class="TimerContainerSpecial">
        </div>
        <button id="connect_button" style="display: none;" onclick="document.getElementById('disconnectModal').style.display='block';document.getElementById('modalOverlay').style.display='block';" class="ConnectButton"></button>
        <button id="not_connected" onclick="connect()" class="ConnectButton">CONNECT</button>

        <div id="modalOverlay" style="display: none;" class="Popup Overlay"></div>

        <div id="disconnectModal" style="display: none;" class="ConnectionPopup Disconnect ">
          <button class="PopupClose" onclick="document.getElementById('disconnectModal').style.display='none';document.getElementById('modalOverlay').style.display='none';">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
            </svg>
          </button>
          <div id="buttons" class="noselect">
            <!-- <button onclick="disconnect()" style="background-color:rgb(255, 119, 119);padding:20px;margin: 20px;margin-left: 40px;" class="Disconnect">Disconnect</button> -->
            <button onclick="switchToBSCNetwork()" style="background-color:rgb(102, 181, 88);padding:20px;margin: 20px;margin-left: 120px;" class="ChangeNet">Change network</button>
          </div>
        </div>

      </div>
    </div>


    <!-- <div class="Toastify Mobile"></div> -->
    <div style="color: black;" class="sc-gsDKAQ kkOZNv bg-darkFour">

            
            <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('fundModal').style.display='block';"  class="">
                InjectFunds
              </button>

            <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('fundModal').style.display='block';"  class="NavigationButton">
              ExtractFunds
            </button>

            <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="pauseContract()"  class="NavigationButton">
                Pause Contract
            </button>

            <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="unpauseContract()"  class="NavigationButton">
                UnPause
            </button>

            <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('setOperatorModal').style.display='block'"  class="NavigationButton">
                Set Operator
            </button>

            <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('setRewardRateModal').style.display='block'"  class="NavigationButton">
                Set RewardRate
            </button>

            <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('blacklistModal').style.display='block'"  class="NavigationButton">
              Blacklist User
          </button>

          <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('blacklistRemoveModal').style.display='block'"  class="NavigationButton">
            Remove Blacklist
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('rewardUserModal').style.display='block'"  class="NavigationButton">
          Reward User
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('cancelModal').style.display='block'"  class="NavigationButton">
          Cancel Round
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="startRound()"  class="NavigationButton">
          Start Round
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('lockModal').style.display='block'"  class="NavigationButton">
          Lock Round
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('setMinBetAmountModal').style.display='block'"  class="NavigationButton">
          Set Min BetAmount
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #F6D180; padding: 15px;" onclick="document.getElementById('setRoundIntervalModal').style.display='block'"  class="NavigationButton">
          Set RoundInterval
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #ff253a; border-radius: 10px; margin: 25px; background-color: #ff253a; padding: 15px;color: whitesmoke;" onclick="document.getElementById('forceExecuteModal').style.display='block'"  class="NavigationButton">
          Force Execute
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick=""  class="NavigationButton">
          Settings
         </button>

         <button style="margin-right: 25px;border: 5px;border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="minbetamount()"  class="NavigationButton">
          Minimum Bet Amount 
         </button>

         <button style="margin-right: 25px;border: 5px;border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="document.getElementById('roundsModal').style.display='block'"  class="NavigationButton">
          _Rounds(uint256)
         </button>

         <button style="margin-right: 25px;border: 5px; border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="document.getElementById('betsModal').style.display='block'"  class="NavigationButton">
          Bets(uint256, address)
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="currentEpoch()"  class="NavigationButton">
          Current Epoch
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="operatorAddress()"  class="NavigationButton">
          Operator Address
         </button>

         <button style="margin-right: 25px;border: 5px;border-color: #F6D180; border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="ownerAddress()"  class="NavigationButton">
          Owner Address
         </button>

         <button style="margin-right: 25px;border: 5px;border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="minimumRewardRate()"  class="NavigationButton">
          Minimum Reward Rate
         </button>

         <button style="margin-right: 25px;border: 5px;border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="rewardRate()"  class="NavigationButton">
          Reward Rate
         </button>

         <button style="margin-right: 25px;border: 5px;border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="roundInterval()"  class="NavigationButton">
          Round Interval
         </button>

         <button style="margin-right: 25px;border: 5px;border-radius: 10px; margin: 25px; background-color: #355f7d; padding: 15px; color: whitesmoke;" onclick="document.getElementById('userBetsModal').style.display='block'"  class="NavigationButton">
          User Bets(address)
         </button>




         <div id="Modals">

          <div id="fundModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('fundModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter Amount: </label>
              <input id="fundsValue" type="number">
              <div style="margin-top: 20px;">
                <button onclick="injectFunds()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Inject Funds</button>
                <button onclick="extractFunds()" style="padding: 10px;margin: 15px; background-color: #F6D180;border-radius: 7px" class="btn">Extract Funds</button>
              </div>
            </div>
          </div>

          <div id="setOperatorModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('setOperatorModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter Operator Address: </label>
              <input id="operatorAddress" type="text">
              <div style="margin-top: 20px;">
                <button onclick="setOperator()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Set Operator</button>
              </div>
            </div>
          </div>

          <div id="setRewardRateModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('setRewardRateModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter New Reward Rate: </label>
              <input id="newRewardRate" type="number">
              <div style="margin-top: 20px;">
                <button onclick="setRewardRate()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Set New Reward Rate</button>
              </div>
            </div>
          </div>

          <div id="blacklistModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('blacklistModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter User Address: </label>
              <input id="blacklistAdd" type="text">
              <div style="margin-top: 20px;">
                <button onclick="blacklistUser()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Blacklist User</button>
              </div>
            </div>
          </div>

          <div id="blacklistRemoveModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('blacklistRemoveModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter User Address: </label>
              <input id="blacklistRemove" type="text">
              <div style="margin-top: 20px;">
                <button onclick="removeFromBlacklist()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Remove from Blacklist</button>
              </div>
            </div>
          </div>

          <div id="rewardUserModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('rewardUserModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter User Address: </label>
              <input id="rewardAddress" type="text">
              <div style="margin: 7px;">
                <label style="color: whitesmoke;" for="">Enter Reward Amount: </label>
                <input id="rewardAmount" type="number">
              </div>
              <div style="margin-top: 20px;">
                <button onclick="rewardUser()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Reward User</button>
              </div>
            </div>
          </div>

          <div id="cancelModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('cancelModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter Epoch: </label>
              <input id="cancelEpoch" type="text">
              <div style="margin-top: 20px;">
                <button onclick="RoundCancel()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Cancel Round</button>
              </div>
            </div>
          </div>

          <div id="lockModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('lockModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter Lock Price: </label>
              <input id="lockPrice" type="number">
              <div style="margin: 7px;">
                <label style="color: whitesmoke;" for="">Enter Lock TimeStamp: </label>
                <input id="timestamp" type="number">
              </div>
              <div style="margin-top: 20px;">
                <button onclick="lockRound()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Lock Round</button>
              </div>
            </div>
          </div>

          <div id="setMinBetAmountModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('setMinBetAmountModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter New Min Bet Amount: </label>
              <input id="minBetAmount" type="number">
              <div style="margin-top: 20px;">
                <button onclick="setMinBetAmount()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Set Min Bet Amount</button>
              </div>
            </div>
          </div>

          <div id="setRoundIntervalModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('setRoundIntervalModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter New Round Interval: </label>
              <input id="roundInterval" type="number">
              <div style="margin-top: 20px;">
                <button onclick="setRoundInterval()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Set New Round Interval</button>
              </div>
            </div>
          </div>

          <div id="roundsModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('roundsModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter Epoch: </label>
              <input id="roundEpoch" type="number">
              <div style="margin-top: 20px;">
                <button onclick="_rounds()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Get Internal Round Info</button>
              </div>
            </div>
          </div>

          <div id="betsModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('betsModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter Epoch: </label>
              <input id="betsEpoch" type="number">
              <div style="margin: 7px;">
                <label style="color: whitesmoke;" for="">Enter User Address: </label>
                <input id="betsAddress" type="text">
              </div>
              <div style="margin-top: 20px;">
                <button onclick="bets()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Get User Bets Details</button>
              </div>
            </div>
          </div>

          <div id="userBetsModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('userBetsModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter User Address: </label>
              <input id="userBetsAddress" type="text">
              <div style="margin-top: 20px;">
                <button onclick="userBets()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Get All User Bets</button>
              </div>
            </div>
          </div>

          <div id="forceExecuteModal" style="display: none;" class="ConnectionPopup Disconnect ">
            <button class="PopupClose" onclick="document.getElementById('forceExecuteModal').style.display='none';">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
              </svg>
            </button>
            <div style="margin: 40px;">
              <label style="color: whitesmoke;" for="">Enter BetBull: </label>
              <input id="executeBull" type="number">
              <div style="margin: 7px;">
                <label style="color: whitesmoke;" for="">Enter BearBet: </label>
                <input id="executeBear" type="number">
              </div>
              <div style="margin: 7px;">
                <label style="color: whitesmoke;" for="">Enter Lock Price: </label>
                <input id="executeLock" type="number">
              </div>
              <div style="margin-top: 20px;">
                <button onclick="forceExecute()" style="padding: 10px;margin: 15px; background-color: #ff253a;border-radius: 7px;" class="btn">Force Execute</button>
              </div>
            </div>
          </div>





         </div>



          </div>
          <div class="ContractStatus Desktop">
            <div style="font-size: 3.4em;"></div>
          </div>
        <!-- </div> -->

         

        <!-- start of Desktop version -->

</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/Home/ethers.min.js" type="application/javascript"></script>
<script src="/admin-svm.js"></script>



</body>
</html>